{% extends 'base.html' %}

{% block title %}
	<h1>Panel Admin</h1>
	<h1>Adding an element</h1>
{% endblock %}

{% block content %}
<div style="width:50%  vertical-align: middle">	
    <img src="{{ url_for('video_feed') }}" height="80%">
	<form action="/add_result" method="POST" id="submit"> 
		<div class="row">
			<input type="text" class="form-control" placeholder="Nazwa przedmiotu" name="name" id="name">
		</div>
		<div class="row">
			<input type="number" class="form-control" placeholder="Ilość przedmiotu" name="count" id="count">
		</div>
		<div class="row">
			<input type="number" class="form-control" placeholder="Cena przedmiotu" name="price" id="price">
		</div>
		<button class="btn btn-light" type="submit" form="submit" value="Submit">Submit</button> 
	</form> 
</div> 
{% endblock %}
