{% extends 'base.html' %}

{% block title %}
	<h1>Panel Admina</h1>
{% endblock %}

{% block content %}
	<div class="container-fluid text-center"> 
			<div class="form-group row"> 
				<a href="/add_element" class="btn btn-light" role="button" style="width:100%">Dodaj element</a> 
			</div> 
			<div class="form-group row"> 
				<a href="/train_model" class="btn btn-light" role="button" style="width:100%">Wytrenuj model</a> 
			</div> 
			<div class="form-group row"> 
				<a href="/stop_model" class="btn btn-light" role="button" style="width:100%">Wstrzymaj naukę</a> 
			</div> 
	</div>
{% endblock %}