{% extends 'base.html' %}

{% block title %}
	<h1>Admin Panel</h1>
{% endblock %}

{% block content %}
	<div class="container-fluid text-center"> 
			<div class="form-group row"> 
				<a href="/add" class="btn btn-light" role="button" style="width:100%">Add Element</a> 
			</div> 
			<div class="form-group row"> 
				<a href="#" class="btn btn-light" role="button" style="width:100%">Delete Element</a> 
			</div> 
			<div class="form-group row"> 
				<a href="#" class="btn btn-light" role="button" style="width:100%">Relearn model</a> 
			</div> 
	</div>
{% endblock %}